html[data-theme='dark'] {
  /*? Цвета фона ?*/
  --background-color: #ebebeb;
  /* Основной фон страницы */
  --block-background-color: #f5fcfe;
  /* Фон блоков */

  /*? Цвета текста ?*/
  --text-color: #3f4657;
  /* Основной цвет текста */
  --secondary-text-color: #9795a1;
  /* Вторичный цвет текста */

  /*? Цвета кнопок ?*/
  --button-background-color: linear-gradient(214deg, rgb(240, 195, 90) 0%, rgba(255, 115, 167, 1) 100%);
  --button-background-color-hover: linear-gradient(190deg, rgba(202, 255, 149, 1) 0%, rgba(255, 115, 167, 1) 100%);
  /* Фон кнопок */
  --button-text-color: #ffffff;
  /* Цвет текста на кнопках */

  /*? Цвета обводки ?*/
  --border-color: #e7d4c8;
  /* Цвет обводки элементов */

  /*? Эффект наведения на кнопки ?*/
  --button-hover-background-color: #c4c5d766;
  /* Фон кнопок при наведении */
  --button-hover-text-color: #ffffff;
  
  --button-secondary-color: #ffffff31;
  /* Цвет текста на кнопках при наведении */

  /*? Дополнительные цвета ?*/
  --link-color: #b4a0e8;
  /* Цвет ссылок */
  --link-hover-color: #e91e63;
  /* Цвет ссылок при наведении */

  --blue-color: #5065ee;
  --blue-color-opacity: rgba(66, 81, 241, 0.4);

  /* Цвет инпута */
  --input-background-color: #e4deda;
  --input-border-color: #e6d3c7;
}