.header {
	background-color: var(--block-background-color);;
	border-right: 1px solid var(--border-color);

	font-size: 13px;

	a:hover {
		text-decoration: underline;
	}

	.balance {
		margin-left: auto;
	}
}

.exit {
	background-color: transparent;
	border: none;

	color: var(--text-color);
	font-size: 17px;

	@media (min-width: 620px) {
		display: none;
	}
}

.container {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	gap: 15px;
	align-items: center;
	padding: 10px;
}