.btn {
	background: var(--button-background-color);
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	transition: background 1s ease, color 0.5s ease, background-position .5s;
	background-position: 100% 200%;
	background-size: 200% 200%;

	color: #FFF;
	font-size: 15px;
}

.btn:hover {
	background-position: 10% 10%;
	/* Изменение градиента при наведении */
}