.qrcode {
	width: 100%;
	height: 100%;
}

.title {
	font-size: 20px;
}

.bottom {
	display: flex;
	margin-top: 30px;
	justify-content: start;

	@media (max-width: 650px) {
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
}

.link {
	max-width: 250px;
	width: 100%;
	height: auto;
}

.content {
	display: flex;
	max-width: 460px;
	width: 100%;
	flex-direction: column;
	margin-top: 40px;

	@media (max-width: 650px) {
		max-width: 400px;
		margin: 40px auto 0 auto;
	}
}

.done {
	color: greenyellow;
}

.error {
	color: red;
}

.code {
	margin: auto;

	font-size: 30px;
}

.copy-link {
	margin-top: 30px;

	font-size: 20px;
	color: var(--link-color);

}

.copy {
	cursor: pointer;
	padding: 13px 20px;
	border-radius: 5px;
	border: 2px solid transparent;
	background-color: var(--input-background-color);
	transition-duration: .2s;
	width: 100%;
	display: flex;
	justify-content: space-between;

	font-size: 14px;
	color: var(--secondary-text-color);
}