.text-info {
	display: flex;
	height: max-content;
}

.info {
	margin: auto;
	margin-left: 15px;

	.id {
		margin-bottom: 10px;
	}
}

.photo {
	max-width: 100px;
	min-width: 100px;
	max-height: 100px;
	min-height: 100px;
	display: flex;
	background-color: #3b364c;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.112);
	overflow: hidden;

	img {
		width: 100%;
		object-fit: cover;
	}

	input {
		display: none;
	}
}